.partners {
  padding: 65px 0;
  @include breakpoint(medium) {
    padding-top: 30px;
  }
  &__inner {
    @include inner;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  h1 {
    width: 40%;
    display: none;
    font-size: 22px;
    line-height: 1;
    @include breakpoint(medium) {
      display: block;
    }
  }
  &__content {
    width: 55%;
    display: none;
    p {
      font-size: 13px;
      line-height: 22px;
    }
    @include breakpoint(medium) {
      display: block;
      padding-bottom: 40px;
    }
  }
  &__logos {
    padding: 0;
    border-top: 1px solid rgba($color--white, 0.11);
    border-bottom: 1px solid rgba($color--white, 0.11);
    @include breakpoint(medium) {
      padding: 40px 0;
    }
    .partners__inner {
      justify-content: flex-start;
    }
  }
  &__logo {
    display: block;
    width: 32%;
    height: 0;
    padding-bottom: 32%;
    margin-right: 2%;
    margin-bottom: 2%;
    position: relative;

    &:nth-child(3n) {
      margin-right: 0;
    }
    @include breakpoint(medium) {
      width: 15%;
      padding-bottom: 15%;
      &:nth-child(3n) {
        margin-right: 2%;
      }
      &:nth-child(6n) {
        margin-right: 0;
      }
    }
    img {
      margin: 0;
      max-width: 90%;
      max-height: 90%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.partner-dropdown {
  @include breakpoint(medium) {
    display: none;
  }
  &__current {
    position: relative;
    border-top: 1px solid rgba($color--white, 0.11);
    border-bottom: 1px solid rgba($color--white, 0.11);
    padding: 7px 20px;
    font-size: 13px;
    cursor: pointer;
    font-weight: 500;
    &:after {
      background-image: url('../images/right-arrow.svg');
      background-size: cover;
      width: 5px;
      height: 9px;
      position: absolute;
      top: 16px;
      right: 20px;
      content: '';
      transition: all ease 0.2s;
    }
    &.active {
      &:after {
        transform: rotate(90deg);
      }
    }
  }
  ul {
    display: none;
    padding: 12px 20px;
    margin: 0;
    list-style: none;
    width: 100%;
    li {
      font-size: 13px;
      padding: 2px 0;
      a {
        color: $color--white;
        text-decoration: none;
        display: block;
        padding: 2px 20px;
        @include breakpoint(medium) {
          padding: 0;
        }
      }
    }
  }

}
