// Site Variables
// --------------
$content-width: 1340px;

$font--heading: 'Decimal', sans-serif;
$font--body: 'Decimal', sans-serif;
$font--fancy: 'Kinescope', sans-serif;

$color--black: #000000;
$color--white: #ffffff;
$color--grey: #67655B;
$color--dark-grey: #282829;
$color--green-grey: #2B4242;
$color--light-grey: #f8f8f8;
$color--red: #FE513D;

$color--off-black: #0a0a0a;

$border: 1px solid #E1E1E1;

$transition: 0.5s all ease;
