@font-face {
  font-family: 'Decimal';
  src: url('../fonts/DecimalLight.woff') format('woff'),
    url('../fonts/DecimalLight.ttf') format('truetype');
  font-style: normal;
 	font-weight: 300;
}

@font-face {
  font-family: 'Decimal';
  src: url('../fonts/DecimalBook.woff') format('woff'),
    url('../fonts/DecimalBook.ttf') format('truetype');
  font-style: normal;
 	font-weight: 500;
}

@font-face {
  font-family: 'Decimal';
  src: url('../fonts/DecimalSemibold.woff') format('woff'),
    url('../fonts/DecimalSemibold.ttf') format('truetype');
  font-style: normal;
 	font-weight: 600;
}

@font-face {
  font-family: 'Decimal';
  src: url('../fonts/DecimalBold.woff') format('woff'),
    url('../fonts/DecimalBold.ttf') format('truetype');
  font-style: normal;
 	font-weight: 700;
}


@font-face {
  font-family: 'Kinescope';
  src: url('../fonts/kinescope.woff') format('woff'),
    url('../fonts/kinescope.ttf') format('truetype');
  font-style: normal;
 	font-weight: 700;
}